CopyrightEntries.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT copyrightEntries (#PCDATA | copyrightEntry | entryGroup | crossRef)*>
<!ELEMENT copyrightEntry (#PCDATA | title | author | role | desc | edition | pubPlace | publisher | volumes | series | copyDate | prevPub | employerName | prev-regNum | newMatterClaimed | pubDate | pubName | claimant | claimantPlace | regDate | regNum | classCode | copies | affDate | vol | noticeDate | note | additionalEntry)*>
<!ELEMENT crossRef (#PCDATA | title | author | see)*>
<!ELEMENT entryGroup (#PCDATA | title | author | copyrightEntry | crossRef)*>

<!ATTLIST copyrightEntry
	  id NMTOKEN #REQUIRED
	  regnum NMTOKENS #IMPLIED>
<!ATTLIST crossRef>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA | role | authorName | authorPlace | authorBirth | authorDeath)*>
<!ATTLIST author
	  claimant (no|yes) #IMPLIED>
<!ELEMENT authorName (#PCDATA)>
<!ELEMENT authorPlace (#PCDATA)>
<!ELEMENT authorBirth (#PCDATA)>
<!ELEMENT authorDeath (#PCDATA)>
<!ELEMENT role (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT edition (#PCDATA)>
<!ELEMENT pubPlace (#PCDATA)>
<!ELEMENT pubName (#PCDATA)>
<!ATTLIST pubName 
	  claimant NMTOKEN #IMPLIED>
<!ELEMENT pubDate (#PCDATA)>
<!ATTLIST pubDate 
            date NMTOKEN #REQUIRED>
<!ELEMENT publisher (#PCDATA | pubName | pubPlace | pubDate)*>
<!ELEMENT volumes (#PCDATA)>
<!ELEMENT vol (#PCDATA)>
<!ELEMENT series (#PCDATA)>
<!ELEMENT prevPub (#PCDATA | role | author | regDate | prev-regNum)*>
<!ELEMENT employerName (#PCDATA)>
<!ELEMENT prev-regNum (#PCDATA)>
<!ELEMENT newMatterClaimed (#PCDATA)>
<!ELEMENT claimant (#PCDATA)>
<!ELEMENT claimantPlace (#PCDATA)>
<!ELEMENT regDate (#PCDATA)>
<!ATTLIST regDate  
      date NMTOKEN #REQUIRED>
<!ELEMENT regNum (#PCDATA)>
<!ELEMENT classCode (#PCDATA)>
<!ELEMENT copies (#PCDATA)>
<!ATTLIST copies
	  num NMTOKEN #IMPLIED>
<!ELEMENT copyDate (#PCDATA)>
<!ATTLIST copyDate
	  date NMTOKEN #REQUIRED>
<!ELEMENT affDate (#PCDATA)>
<!ATTLIST affDate
	  date NMTOKEN #REQUIRED>
<!ELEMENT noticeDate (#PCDATA)>
<!ELEMENT note (#PCDATA)>
<!ELEMENT see (#PCDATA | author | title | pubPlace | pubDate)*>
<!ATTLIST see
	  rid NMTOKEN #REQUIRED>
<!ELEMENT additionalEntry (#PCDATA | pubPlace | publisher | volumes | series | prevPub | employerName | copyDate | prev-regNum | newMatterClaimed | pubDate | pubName | claimant | claimantPlace | regDate | regNum | classCode | copies | affDate | vol | noticeDate | note)*>
<!ATTLIST additionalEntry
	  regnum NMTOKEN #IMPLIED>
